.skill-image img {
  width: 6rem;
  height: 6rem;
}

.skill-card {
  margin: 2rem;
}

@media only screen and(max-width:858px) {
  .skill-image img {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media only screen and(max-width:600px) {
  .skill-image img {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and(max-width:414px) {
  .skill-image img {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and(max-width:375px) {
  .skill-image img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .skill-card {
    margin: 1rem;
  }
}
