.app__about {
  width: 100vw;
  height: 100vh;

  padding: 6rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: var(--color4);
}

.about-image img {
  width: 100%;
  max-width: 27rem;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.about-text {
  width: 30vw;
  padding: auto;
  text-align: left;
  line-height: 2rem;
  font-size: 1.4rem;

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.instagram-container {
  display: none;
}
.instagram-container img {
  width: 6.5rem;
}

@media only screen and(max-width:858px) {
  .app__about {
    flex-direction: column;
    height: auto;
  }
  .about-text {
    margin-top: 4rem;
    padding: 3rem;
    width: 100vw;

    font-size: 14px;
    line-height: 1.5rem;
    text-align: left;
  }
  .about-image img {
    max-width: 20rem;
    border-radius: 10px;
  }
  .instagram-container {
    margin-top: 2rem;
    display: block;

    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
  .instagram-container img {
    width: 5rem;
  }
}
