.app__header-content {
  width: 100vw;
  height: 100vh;
  //height: calc(100vh+4rem);
  padding: 1rem; // revisar
  background-color: var(--color3);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.app__header-content-title {
  text-align: center;
  h1 {
    color: var(--color2);
    font-size: 4rem;
  }

  p {
    color: var(--color2);
    font-size: 3rem;
  }
}

.app__header-content-media {
  width: auto;
  height: auto;
  //background-color: var(--color4);
  //border: solid 2px black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-social-media {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  //border: solid 1px black;
}

.linkedin-logo,
.github-logo {
  margin: 1rem;
  width: 4rem;
  height: auto;

  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.22);
  }
}

/* RESPONSIVE */

@media only screen and(max-width:858px) {
  .app__header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: calc(100vh+4rem);

    padding: 1rem 1rem;
  }

  .app__header-content-title {
    margin-bottom: 2rem;
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }

  // .app__header-content-media {
  //   margin-top: 2rem;
  // }
}

@media only screen and (max-width: 600px) {
  .app__header-content {
    height: calc(100vh+4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .app__header-content-title {
    //flex: 3;
    margin-top: 6rem;
    h1 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.3rem;
    }
  }

  // .app__header-content-media {

  // }
  .header-img {
    margin-bottom: 2rem;
  }
  .header-img img {
    width: 17rem;
  }
}
